<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}用户注册{% endblock %}

{% block sections %}
<section id="forms">
    <div class="row">
	<div class="span7 offset1">
	    <form method="POST" class="form-horizontal well" action="/account/login">
		<p><input type="text" name="username" class="span3" placeholder="用户名" ></p>
		<p><input type="text" name="email" class="span3" placeholder="邮箱" ></p>
		<p><input type="password" name="password" class="span3" placeholder="密码" ></p>
		<p><button type="submit" class="btn btn-primary">注册</button></p>
	    </form>
	</div>
    </div>
</section>
{% endblock %}
